" .ideavimrc
" Docs: https://jb.gg/h38q75

" --- Core options ---
set scrolloff=5
set incsearch
set clipboard+=unnamedplus
set clipboard+=ideaput

" Space as leader
let mapleader = " "

" Keep Q for formatting
map Q gq

" --- IdeaVim plugins ---
Plug 'machakann/vim-highlightedyank'
Plug 'tpope/vim-commentary'
Plug 'tpope/vim-surround'
Plug 'vim-scripts/argtextobj.vim'
set highlightedyank
set commentary
set surround
set argtextobj

" --- Insert mode ---
inoremap jj <Esc>
inoremap JJ <Esc>
inoremap <C-j> <Esc>o<Esc>kA

" --- Normal mode ---
nmap <leader>p <Action>(GotoFile)
nmap <leader>e <Action>(ActivateProjectToolWindow)
nmap <leader>t <Action>(ActivateTerminalToolWindow)

nmap K <Action>(ShowHoverInfo)

nmap <leader>nf <Action>(NewFile)
nmap <leader>nd <Action>(NewDir)

nmap <leader>ro <Action>(RenameElement)
nmap <leader>fs <Action>(Find)

" --- Visual mode ---
xnoremap J :m '>+1<CR>gv=gv
xnoremap K :m '<-2<CR>gv=gv
